* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Arial, sans-serif;
}

.about {
    background: #f5f5f5;
    padding: 40px;
}
.about__header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.hero {
    position: relative;
    background: url("../images/backgrounds/hero-bg.jpg") no-repeat center center/cover;
    height: 599px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    font-size: 26px;
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: auto;
    z-index: 2;
    pointer-events: none;
}
.hero-content {
    position: relative;
    z-index: 3;
    margin-left: 60px;
    height: 599px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content_logo {
    width: auto;
    height: auto;
    max-width: 100%;
}

.hero-content-text {
    margin-top: 116px;
    max-width: 650px;
}

.hero-content-text_title {
    font-size: 72px;
    margin-bottom: 15px;
    margin-top: 116px;
    font-weight: 400;
}

.hero-content-text_description {
    font-size: 26px;
}

@media (max-width: 1339px) {
    .hero-overlay {
        display: none;
    }
    .hero-content-text_description {
        font-size: 26px;
        margin-top: 28px;
    }
    .hero-content-text_title {
        font-size: 72px;
        margin-top: 135px;
    }
}
@media (max-width: 1019px) {
    .hero {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero-content {
        margin-top: 0;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .hero-content_logo {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }


    .hero-content-text {
        max-width: 350px;
    }

    .hero-content-text_title {
        font-size: 36px;
        margin-top: 54px;
    }

    .hero-content-text_description {
        font-size: 16px;
        margin-top: 20px;
    }
}

@media (max-width: 699px) {
    .hero {
    }

    .hero-content-text_title {
        font-size: 24px;
        margin-top: 54px;
    }

    .hero-content-text_description {
        font-size: 16px;
        margin-top: 20px;
    }

    .hero-content-text {
        max-width: 300px;
    }
}

.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
}

.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.experience-container-video {
    height: auto;
    margin-top: 0;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.experience-bg {
    width: 545px;
    height: 367px;
    background: #f7eee5;
}

.experience-video {
    width: 545px;
    height: 367px;
    margin-right: -75px;
    margin-top: -327px;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.about-text {
    max-width: 500px;
    z-index: 3;
    color: #6c5f4a;
    font-size: 18px;
    margin-right: 57px;
    width: 545px;
    margin-top: 100px;
    line-height: 30px;
    font-weight: 400;
}

.about-text__title {
    margin: 0;
    font-size: 54px;
    color: #8a7b60;
}

.about-text__subtitle {
    margin: 20px 0px 32px 0px;
    font-size: 36px;
    font-weight: bold;
    color: #0a3b93;
}

.about-text__paragraph {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 15px;
}
@media (max-width: 1339px) {
    .experience-bg,
    .experience-video {
        width: 405px;
        height: 271px;
    }

    .experience-video {
        margin-right: -60px;
        margin-top: -244px;
    }
}

@media (max-width: 1019px) {
    .experience-container {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .experience-container {
        padding: 60px 20px 60px 21px;
        align-items: flex-start;
    }
    .about-text {
        max-width: none;
        width: auto;
    }
    .experience-bg,
    .experience-video {
        width: 540px;
        height: 361px;
    }

    .experience-video {
        margin-right: -70px;
        margin-top: -320px;
    }
    .experience-container-video {
        order: 2;
        margin-top: 32px;
        margin-left: 0px;
    }

    .about-text {
        order: 1;
    }

    .about-text__title {
        font-size: 55px;
    }

    .about-text__subtitle {
        font-size: 20px;
    }

    .about-text__paragraph {
        font-size: 14px;
        line-height: 24px;
    }

    .about-text {
        margin-top: 60px;
    }
}

@media (max-width: 699px) {
    .experience-container {
        padding: 50px 16px 50px 15px;
    }
    .experience-bg,
    .experience-video {
        width: 260px;
        height: 174px;
    }

    .experience-video {
        margin-right: -30px;
        margin-top: -154px;
    }
}

.production {
    background-color: #0a3b93;
}
.production-content {
    height: 252px;
    display: flex;
    flex-direction: row;
    background-color: #0a3b93;
    align-items: center;
    justify-content: flex-start;
    background-image: url("/images/png/blue-patches.png");
    background-size: 436px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.production_arrows {
    margin: 0px 18px 0px 60px;
}
.production-content_text {
    margin-left: 38px;
    max-width: 800px;
    left: 0px;
    color: #ffffff;
    font-size: 24px;
}
.production_bluePatches {
    display: flex;
    align-self: flex-end;
}
@media (max-width: 1339px) {
    .production-content {
        background-size: 200px auto;
    }
}

@media (max-width: 1019px) {
    .production-content {
        background-size: 436px auto;
    }
    .production-content_text {
        margin-left: 27px;
    }
    .production_arrows {
        margin: 0px 18px 0px 20px;
    }
}
@media (max-width: 699px) {
    .production-content {
        background-size: 250px auto;
    }
    .production-content_text {
        margin-left: 7px;
        max-width: 300px;
    }
    .production_arrows {
        margin: 0px 18px 0px 14px;
    }
}

.mission {
    background-image: url("../images/backgrounds/misson-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 437px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mission-content {
    color: #ffffff;
    margin: 80px 0px 40px 0px;
}

.mission-content h2 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
}

.mission-content p {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 400;
}

.mission-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: white;
    font-size: 18px;
    color: #0a3b93;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    transition: 0.3s;
}

.mission-button:hover {
    background-color: #f0f0f0;
}

@media (max-width: 1019px) {
    .mission-content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .mission-content p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .mission-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}
@media (max-width: 699px) {
    .mission-content h2 {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .mission-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .mission-button {
        padding: 10px 20px;
        font-size: 18px;
    }
}

.advantages {
    padding: 20px;
    background-color: #f7eee5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.advantages h2 {
    text-align: left;
    color: #0a3b93;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-left: 60px;
    margin-top: 100px;
}

.advantages-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
    margin: 60px 60px 125px 60px;
}

.advantage {
    position: relative;
    background: #0a3b93;
    color: white;
    overflow: hidden;
    width: 356px;
    height: 317px;
    transition: all 0.3s ease-in-out;
}
.text_after {
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.advantage img {
    width: 100%;
    height: auto;
}

.advantage .text {
    padding: 20px;
    font-size: 16px;
}

.toggle-btn {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: #0a3b93;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.slider-advantages {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.swiper-container {
    height: auto;
    position: relative;
    margin-top: 20px;
    padding-bottom: 50px;
    overflow: hidden;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    z-index: 5;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: #007aff;
    opacity: 1;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
}
.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}
.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background: none;
    z-index: 6;
}

.swiper-button-next img,
.swiper-button-prev img {
    width: 100%;
    height: auto;
}

#advantages-slider {
    display: none;
}

.swiper-container {
    padding: 0;
}

@media (max-width: 1019px) {
    #advantages-grid {
        display: none;
    }
    #advantages-slider {
        display: block;
    }
    .advantage {
        width: 260px;
        height: 294px;
        margin-left: 30px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1339px) {
    .advantage {
        width: 260px;
        height: 343px;
    }
    .advantages h2 {
        margin-top: 80px;
    }
}
@media (max-width: 1019px) {
    .advantages h2 {
        margin-top: 60px;
        margin-left: 25px;
    }
}
@media (max-width: 700px) {
    .advantages h2 {
        margin-top: 50px;
    }
}

.company-stats {
    background: #f7eee5;
    position: relative;
    padding-bottom: 120px;
}
.company-intro {
    text-align: left;
    margin-bottom: 60px;
}
.company-title {
    color: #0a3b93;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-left: 60px;
}

.company-subtitle {
    color: #6c5f4a;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    font-size: 18px;
    margin-left: 60px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
}

.stats-image {
    width: 565px;
    height: 294px;
}
.stats-highlight {
    background: #003580;
    color: white;
    width: 294px;
    height: 294px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stats-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
}
.stats-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brown-bg {
    background: rgba(120, 100, 75, 0.85);
}

.blue-bg {
    background: rgba(0, 53, 128, 0.85);
}

.highlight-number {
    font-size: 58px;
    font-weight: 300;
    margin-bottom: 32px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    align-items: start;
    margin: 0;
}

.stats-item {
    margin: 0;
    position: relative;
}

.stats-item:nth-child(1),
.stats-item:nth-child(3),
.stats-item:nth-child(5) {
    justify-self: end;
}
.stats-item:nth-child(2) {
    width: 294px;
    height: 294px;
}

.white-patches-company {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    height: auto;
    z-index: 10;
    pointer-events: none;
}
#stats-grid {
    display: grid;
}
#stats-slider {
    display: none;
}

@media (max-width: 1339px) {
    .stats-image {
        width: 454px;
        height: 294px;
        z-index: 2;
    }
    .stats-highlight {
        width: 294px;
        height: 294px;
        z-index: 2;
    }
    .white-patches-company {
        z-index: 1;
    }
    .company-intro {
        margin-bottom: 32px;
    }
}

@media (max-width: 1019px) {
    .white-patches-company {
        display: none;
    }
    #stats-grid {
        display: none;
    }
    #stats-slider {
        display: block;
    }

    .stats-slider {
        padding: 0 30px;
    }
    .stats-slider {
        margin-right: 30px;
        overflow: hidden;
    }
    .stats-slider .stats-item {
        width: 260px;
        height: 294px;
        flex-shrink: 0;
    }
    .highlight-number {
        margin-top: 67px;
        font-size: 80px;
        font-weight: 300;
    }
    .company-title {
        margin-left: 25px;
    }

    .company-subtitle {
        margin-left: 25px;
    }
}

@media (max-width: 699px) {
    .stats-slider {
        max-width: 350px;
        overflow: hidden;
    }
}
